* {
	box-sizing: border-box;
}
.clear {
	clear: both;
}
header {
	padding: 10px;
	margin: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color: #704e2e;
	text-align: center;
	font-family: Chalkduster, fantasy;
}
header img {
	width: 20px;
	vertical-align: middle;
}
body {
	background-color: #644536;
}
div.div1 {
	padding: 15px;
	margin: 60px;
	margin-left: 50px;
	margin-right: 250px;
	background-color: #a8763e;
}
div.div1 img {
	width: 360px;
	float: left;
}
.text-wrap {
	float: left;
	width: 60%;
}
h1 {
	text-align: center;
	font-family: Chalkduster, fantasy;
}

.p1 {
	text-align: center;
	font-family: Bradley Hand, cursive;
}
.p2 {
	margin-top: 30px;
	text-align: center;
	font-family: Bradley Hand, cursive;
}
div.div2 {
	padding: 200px;
	margin: 60px;
	margin-left: 250px;
	margin-right: 50px;
	background-color: #a8763e;
}
div.div3 {
	padding: 10px;
	margin: 60px;
	margin-left: 250px;
	margin-right: 50px;
	background-color: #a8763e;

}
div.div3 ul {
	list-style-type: none;
}
div.div3 ul li {
	padding: 0px 0;
	position: relative;
	margin-bottom: 50px;
}
div.div3 ul li img {
	width: 75px;
	display: inline-block;
	vertical-align: middle;
}
div.div3 ul li p {
	display: inline-block;
	vertical-align: middle;
	font-family: Bradley Hand, cursive;
	font-size: 19px;
	width: 80%;
	margin-left: 15px;
}
h3 {
	text-align: center;
	font-family: Chalkduster, fantasy;
	font-size: 30px;
}
footer {
	padding: 10px;
	margin-bottom: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color: #704e2e;
	text-align: center;
	font-family: Chalkduster, fantasy;
}
