* {
	box-sizing: border-box;
}
header {
	padding: 100px;
	margin: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color: #704e2e;
}
body {
	background-color: #644536;
}
div.div1 {
	padding: 97px;
	margin: 60px;
	margin-left: 50px;
	margin-right: 650px;
	background-color: #a8763e;
}
div.div1 img {
	
}
div.div2 {
	padding: 200px;
	margin: 60px;
	margin-left: 650px;
	margin-right: 50px;
	background-color: #a8763e;
}
div.div3 {
	padding: 100px 150px 0px 150px;
	margin: 60px;
	margin-left: 50px;
	margin-right: 650px;
	background-color: #a8763e;

}
div.div3 ul {
	list-style-type: none;
}
div.div3 ul li {
	list-style-image: url(../img/doge.png);
	padding: 20px 0;
	position: relative;
	margin-bottom: 50px;
}
div.div3 ul li p {
	position: relative;
	top: -45px;
}
div.div4 {
	padding: 200px 100px;
	margin: 60px;
	margin-left: 650px;
	margin-right: 50px;
	margin-bottom: 60px;
	background-color: #a8763e;
}
